* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body { overflow-x: hidden; }

/* HEADER */
header {
    width: 100%;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

header h1 {
    font-size: 2rem;
    font-weight: 400;
}

header h2 { font-weight: lighter; }

header,
.hero h1,
.hero .grid { text-shadow: 1px 1px 0 black; }

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 90px 140px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.hero .img-container {
    position: absolute;
    width: 100%;
    height: 1127px;
    top: -25%;
    left: 0;
    z-index: -1;
    filter: brightness(60%) contrast(110%);
    overflow: hidden;
}

.hero .img-container .background {
    width: 100%;
    object-fit: cover;
}

.hero h1 {
    align-self: center;
    font-size: 4rem;
    font-weight: 400;
    max-width: 60%;
    text-align: center;
    margin-bottom: 5rem;
}

.hero .form-card {
    max-width: 50%;
    background-color: #ce0a00;
    border: 1px solid white;
    padding: 70px 50px;
    margin-bottom: 20px;
}

.hero .form-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.hero .form-card form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.hero .form-card form .inputs-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}

.hero .form-card form input {
    padding: 15px 10px;
    border-radius: 4px;
    font-size: 1rem;
}

.hero .form-card form button {
    flex-basis: 49%;
    padding: 10px 0;
    background-color: #101010;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.hero .grid {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: 1.4rem;
    gap: 8px;
}

.hero .grid li {
    display: flex;
    align-items: center;
}

.hero .grid li i {
    margin-right: 5px;
    color: #cf0a00;
}

/* INCREASE MUSCLE */
.increase-muscle {
    padding: 0 140px;
    display: flex;
    align-items: flex-start;
}

.increase-muscle img {
    width: 50%;
}

.increase-muscle .text-column {
    padding: 60px 80px;
    width: 60%;
}

.increase-muscle .text-column h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #cd0000;
    margin-bottom: 15px;
}

.increase-muscle .text-column p:not(:last-of-type) { margin-bottom: 15px; }