* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    overflow-x: hidden;
    min-width: 320px;
}

/* Number Input Clearing */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Style for regex-error Box */
#regex-error {
	display: none;
	font-size: 10px;
	color: white;
	font-weight: bold;
	margin-left: 1rem;
}

/* HEADER */
header {
    width: 100%;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    font-weight: 400;
}

header h2 {
    font-size: 1.2rem;
    font-weight: lighter;
}

header,
.hero h1,
.hero .grid { text-shadow: 1px 1px 0 black; }

/* HERO */
.hero::after {
    content: "";
    position: absolute;
    background: url(assets/images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: 0 -130px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(50%) saturate(130%);
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 70px 120px 50px;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.hero h1 {
    align-self: center;
    font-size: 3rem;
    font-weight: 400;
    max-width: 60%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 1.2;
}

.hero .form-card {
    max-width: 50%;
    background-color: #ce0a00;
    border: 1px solid white;
    padding: 40px 50px 60px;
    margin-bottom: 20px;
    font-weight: 400;
}

.hero .form-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.hero .form-card form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px;
}

.hero .form-card form input,
.hero .form-card form button { flex-basis: calc((100% / 2) - 12px); }

.hero .form-card form input {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 1rem;
}

.hero .form-card form button {
	padding: 4px 0;
    background-color: #101010;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    font-weight: 400;
	cursor: pointer;
}

.hero .form-card form button:hover {
	background-color: black;
}

.hero .grid {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: 1.1rem;
}

.hero .grid li {
    display: flex;
    align-items: center;
}

.hero .grid li i {
    margin-right: 5px;
    color: #cf0a00;
}

/* INCREASE MUSCLE */
.increase-muscle {
    padding: 0 120px;
    display: flex;
    align-items: center;
}

.increase-muscle img { max-width: 50%; }

.increase-muscle .text-column {
    max-width: 50%;
    padding: 40px 0 40px 60px;
    font-size: 0.9rem;
    font-weight: 300;
}

.increase-muscle .text-column h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #cd0000;
    margin-bottom: 15px;
    font-weight: 400;
}

.increase-muscle .text-column p:not(:last-of-type) { margin-bottom: 15px; }

/* RECENT VIDEOS */
.recent-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 120px;
    background-color: #222222;
    color: white;
}

.recent-videos h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    color: #d00a00;
}

.recent-videos .videos-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.recent-videos .videos-row .item {
	width: calc(100% / 3);
	cursor: pointer;
}
.recent-videos .videos-row .item img { width: 100%; }

/* REVERSE INCREASE MUSCLE */
.increase-muscle.reverse { flex-direction: row-reverse; }
.increase-muscle.reverse .text-column { padding: 40px 60px 40px 0; }

/* QUOTES */
.quotes {
    padding: 40px 120px;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.quotes .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 0.9rem;
}

.quotes .item h4 {
    color: #cc0800;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 0.8rem;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1220px) {
    * { transition: ease all .5s; }

	/* CONTENT */
    header,
    .hero,
    .increase-muscle,
    .increase-muscle.reverse,
    .recent-videos,
    .quotes {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* HERO */
    .hero h1 {
        font-size: 2rem;
        margin-top: 5rem;
        margin-bottom: 2.5rem;
	}

	.hero .form-card h3 { text-align: center; }
    .hero .form-card form input,
    .hero .form-card form button {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1145px) {
    /* HERO BACKGROUND */
    .hero::after { background-position: 0; }
}

@media screen and (max-width: 800px) {
    /* CONTENT */
    header,
    .hero,
    .increase-muscle,
    .increase-muscle.reverse,
    .recent-videos,
    .quotes {
        padding-left: 60px;
        padding-right: 60px;
        flex-direction: column;
    }

    /* HERO */
    .hero h1 { max-width: 100%; }
    .hero .form-card {
        padding: 30px 40px 50px;
        max-width: 80%;
    }

    /* INCREASE MUSCLE */
    .increase-muscle { justify-content: center; }
    .increase-muscle .text-column,
    .increase-muscle.reverse .text-column {
        padding: 20px;
        max-width: 90%;
    }

    .increase-muscle img { max-width: 90%; }
    .increase-muscle .text-column h3 { text-align: center; }

    /* RECENT-VIDEOS */
    .recent-videos .videos-row { flex-direction: column; }
    .recent-videos .videos-row .item { width: 90%; }

    /* QUOTES */
    .quotes { align-items: center; }
    .quotes .item { max-width: 90%; }
}

@media screen and (max-width: 700px) {
    /* HEADER */
    header { flex-direction: column; }
	.hero .form-card { max-width: 100%; }
}

@media screen and (max-width: 380px) {
    /* HERO FORM */
    .hero .form-card { padding: 20px; }
    .hero .grid { font-size: 1rem; }
}
